@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;

}

/* Edit Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Edit scrollbar track */
::-webkit-scrollbar-track {
  background: #DCEBF4;

}

/* Edit scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #3399DB;
}

/* Edit scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6E5EC0;
}